<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav class="navbar  bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <span class="text-warning">B</span><span class="text-info">L</span><span class="text-primary-emphasis">O</span><span class="text-success ">G</span>
    </a>
  </div>
</nav>
<br>
<br>
<div class="button">
 <a href="http://localhost:8080/posts/new" class="btnn">Create new</a>
</div>
<br>
<!-- ------------- -->
<div class="container">
  <div class="row">
    <% for (let post of posts) { %>
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-body">
          
            <p class="card-text"><%= post.shayari %></p>
            <h5 class="card-title"><%= post.name %></h5>
          </div>
          <div class="button-group">
            <a href="http://localhost:8080/posts/<%= post.id%>" class="btnn">See in details</a>
              <a href="http://localhost:8080/posts/<%= post.id%>/edit" class="btnn">Edit</a>
             <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
                <button>Delete post</button>
              </form>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>

<br>
<br>

<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    Managed by
    <a class="text-body" href="#">Aniket Shrivastava</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>